#logo {
  width: 160px;
  height: 114px; 
  background-image: url("../images/logo-sm.png");
}
#github span {
  display: none;
}
#input {
  width: 80%;
}
#search-text {
  margin-right: 5px;
}
#method-option {
  width: 90%;
}
#options {
  width: calc(100% - 90px);
}
.catalog-content {
  display: none;
}
.unfold {
  display: block;
}
.extend {
  display: block;
  background-color: #fff;
  box-shadow: none;
  position: relative;
}
.overlay{
  display: none;
}
.catalog {
  width: 90%;
  box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.18), 2px 4px 5px 2px rgba(51, 51, 51, 0.15);
}